<div class="upheader" >
    <div class="personal-info">
        <img src="https://media-exp1.licdn.com/dms/image/C560BAQGv-Dd7A2pQ0g/company-logo_200_200/0/1646458288684?e=2147483647&v=beta&t=2bEkW38L80hsKUeV4gucwORSlBcJNmYd5H6CBz_Z00E" class="personal-logo" alt="personal-logo">
        <h3 class="name">Argentina Programa</h3>
    </div>
    <div class="social-networks">
        <a class="insta-conteiner" target="_blank" href="https://www.instagram.com/fede_richter/?hl=es-la"><img class="insta-logo" src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="instagram"></a>
        <a class="github-conteiner" target="_blank" href="https://github.com/federicorichter?tab=repositories"><img class="github-logo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github"></a>
        <a class="li-conteiner" target="_blank" href="https://www.linkedin.com/in/federico-richter-0492731b9/"><img class="li-logo" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkedin"></a>
        <a class="tw-conteiner" target="_blank" href="https://twitter.com/richter_federic"><img class="tw-logo" src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" alt="twitter"></a>
        <button class="login-button">Log in</button>
    </div>
