<h2 class="title">Educación</h2>
<div class="conteiner">
    <div class="seccion">
        <h3 class="tit">Primaria y secundaria:</h3>
        <p class="descripcion">Hice tanto la escuela primaria como secundaria en el Colegio María Auxiliadora de Neuquén, egresando al finalizar esta etapa como Bachiller con Orientación Docente</p>
    </div>
    <div class="seccion">
        <h3 class="tit">Inglés:</h3>
        <p class="descripcion">Asistí 9 años al Instituto Plottier de Inglés, y realicé el examen certificado de Cambridge llamado First Certificate of English. </p>
    </div>
    <div class="seccion">
        <h3 class="tit">Universidad:</h3>
        <p class="descripcion">Actualmente asisto a la Universidad Nacional de Córdoba, donde estudio la carrera de Ingeniaría en Computación, aprendiendo tanto sobre programación como de electrónica y comunicaciones digitales. Finalicé mi tercer año de carrera y poseo el título intermedio de Bachiller en Ciencias Aplicadas.</p>
    </div>
</div>
